# 微信支付配置
wx:
  pay:
    appId: # 微信公众号或者小程序等的appid
    mchId: # 微信支付商户号
    mchKey: # 微信支付商户密钥
    subAppId: # 服务商模式下的子商户公众账号ID
    subMchId: # 服务商模式下的子商户号
    keyPath: # p12证书的位置，可以指定绝对路径，也可以指定类路径（以classpath:开头） -- tips: 退款使用，支付的时候不需要...
    notifyHost: http://127.0.0.1 # 回调通知地址
