<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>APP</title>
</head>
<body>
Hello World! <br/>

<!--
    点击超链接实现第三方登录
    client_id 客户端 ID，根据我们在授权服务器中的实际配置填写。
    response_type 表示响应类型，这里是 code 表示响应一个授权码。
    redirect_uri 表示授权成功后的重定向地址，这里表示回到第三方应用的首页。
    scope 表示授权范围。
-->
<a href="http://127.0.0.1:10010/oauth/authorize?client_id=zq_app_id&response_type=code&scope=all&redirect_uri=http://127.0.0.1:10020/index.html">第三方登录</a>

<h1 th:text="${msg}"></h1>

</body>
</html>
